go 1.24.0

toolchain go1.24.1

use (
	.
	./encoders/closedai
	./encoders/google/
	./encoders/ollama/
	./encoders/voyageai/

	./examples/chit-chat/
	./examples/veterinarian/

	./stores/memory/
	./stores/mongo/
	./stores/valkey/
)
