go 1.23.0

toolchain go1.23.0

use (
	.
	./encoders/closedai/
	./encoders/google/
	./encoders/ollama/
	./encoders/voyageai/

	./examples/chit-chat/
	./examples/veterinarian/

	./stores/memory/
	./stores/mongo/
	./stores/valkey/

	./tools
)
